<a href="https://colab.research.google.com/github/armandossrecife/lp/blob/main/Pratica_3_respostas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prática 3 - Manipulando os alunos e as notas de uma disciplina

## 1. Informações de um aluno
Um aluno tem uma matrícula, um nome e 4 notas

Um aluno pode ser representado por uma tupla ('Nome', lista_de_notas)

tupla aluno = ('Nome do aluno', lista_de_notas)

Por exemplo:
 
aluno1 = ('Nome do aluno1', [10, 8, 7, 9])

In [ ]:
aluno1 = ('Maria Joaquiina', [10, 8, 9, 7])
print(aluno1)

('Maria Joaquiina', [10, 8, 9, 7])

In [ ]:
nome_aluno1 = aluno1[0]
notas_aluno1 = aluno1[1]

print(f'Nome: {nome_aluno1}, Notas: {notas_aluno1}')

Nome: Maria Joaquiina, Notas: [10, 8, 9, 7]

In [ ]:
aluno1 = ('Maria Joaquiina', [10, 8, 9, 7])

print(f'Nome: {aluno1[0]}, Notas: {aluno1[1]}')

Nome: Maria Joaquiina, Notas: [10, 8, 9, 7]

## 2. Informações de uma disciplina

Uma disciplina pode ser representada por um dicionário de alunos, onde cada item tem como chave a matrícula do aluno e o valor é a tupla que representa o aluno.

Por exemplo: 

alunos_lp = {
    'matricula1': ('aluno1', [10, 8, 7, 5]),
    'matricula2': ('aluno2', [8, 8, 9, 6]),
    'matricula3': ('aluno3', [9, 8, 6, 7]),
}

In [ ]:
alunos_lp = {}

In [ ]:
alunos_lp = { 
    'matricula1': ('aluno1', [10, 10, 10, 10]), 
    'matricula2': ('aluno2', [10, 10, 10, 10]), 
    'matricula3': ('aluno3', [10, 10, 10, 10]) 
}

## 3. Liste todas as matrículas dos alunos matriculados na disciplina

Dica: liste apenas as chaves (keys) do dicionário

In [ ]:
for matricula in alunos_lp:
  print(matricula)

matricula1
matricula2
matricula3

In [ ]:
for matircula in alunos_lp.keys():
  print(matricula)

matricula3
matricula3
matricula3

## 4. Liste todos os alunos matriculados na disciplina

Dica: liste apenas os valores (values) do dicionário

In [ ]:
for aluno in alunos_lp.values():
  print(aluno)

('aluno1', [10, 10, 10, 10])
('aluno2', [10, 10, 10, 10])
('aluno3', [10, 10, 10, 10])

## 5. Liste apenas os nomes dos alunos matriculados
Dica: para cada valor, mostre apenas o 1o. elemento da tupla

In [ ]:
for aluno in alunos_lp.values():
  print(aluno[0])

aluno1
aluno2
aluno3

In [ ]:
for aluno in alunos_lp.values():
  nome_aluno = aluno[0]
  print(nome_aluno)

aluno1
aluno2
aluno3

## 6. Liste os nomes dos alunos com suas respetivas notas

Dica: liste apenas os valores do dicionário

In [ ]:
for nome, notas in alunos_lp.values():
  print(f'Nome: {nome}, notas: {notas}')

Nome: aluno1, notas: [10, 10, 10, 10]
Nome: aluno2, notas: [10, 10, 10, 10]
Nome: aluno3, notas: [10, 10, 10, 10]

## 7. Liste os nomes dos alunos, suas notas e a média final

Dica: liste apenas os valores do dicionário

Obs: faça um loop dentro da lista de notas para calcular a média

In [ ]:
for nome, notas in alunos_lp.values():
  # Faca um for dentro da lista de notas
  soma_notas = 0
  media_notas = 0
  for nota in notas:
    soma_notas = soma_notas + nota
  media_notas = soma_notas / 4
  print(f'Nome: {nome}, notas: {notas}, média: {media_notas}')

Nome: aluno1, notas: [10, 10, 10, 10], média: 10.0
Nome: aluno2, notas: [10, 10, 10, 10], média: 10.0
Nome: aluno3, notas: [10, 10, 10, 10], média: 10.0

## 8. Calcule a média aritmética geral da turma

Dica: liste apenas os valores do dicionário

Obs1: faça um loop dentro da lista de notas para calcular a média. Pode usar len(lista de notas) para pegar a quantidade de notas

Obs2: acumule as médias dos alunos e ao final divida pela quantidade de alunos (len(dicionario))

In [ ]:
soma_medias_alunos = 0
media_notas_turma = 0

for aluno in alunos_lp.values():
  nome_aluno = aluno[0] # 1o. elemento da tupla
  notas_aluno = aluno[1] # 2o. elemento da tupla
  # Calcula a média de cada aluno
  soma_notas_aluno = 0
  media_notas_aluno = 0
  for nota in notas_aluno:
    soma_notas_aluno = soma_notas_aluno + nota
  media_notas_aluno = soma_notas_aluno/len(notas_aluno)

  soma_medias_alunos = soma_medias_alunos + media_notas_aluno 
  print(nome_aluno, notas_aluno, media_notas_aluno)

media_notas_turma = soma_medias_alunos / len(alunos_lp)
print(f'Média da turma: {media_notas_turma}')

aluno1 [10, 10, 10, 10] 10.0
aluno2 [10, 10, 10, 10] 10.0
aluno3 [10, 10, 10, 10] 10.0
Média da turma: 10.0