<a href="https://colab.research.google.com/github/armandossrecife/lp/blob/main/Series_e_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import pandas as pd
import numpy as np

# Series

### Criando uma Serie via dicionário (chave e valor)

In [199]:
# Um dicionario
data1 = {1:'Gol', 2:'Celta', 3:'Polo', 4:'Corolla', 5:'HB-20'}

s1 = pd.Series(data1)
s1

1        Gol
2      Celta
3       Polo
4    Corolla
5      HB-20
dtype: object

In [200]:
for each in s1:
  print(each)

Gol
Celta
Polo
Corolla
HB-20

In [201]:
s1[1]

'Gol'

In [202]:
s1[2]

'Celta'

Índices da Série s1

In [204]:
s1.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

### Criando uma Serie via dicionário com rótulo e lista

In [205]:
# Um dicionario
data2 = {'carros':['Gol', 'Celta', 'Polo', 'Corolla', 'HB-20']}

# Lista de rotulos
index2 = ['carros']

In [206]:
s2 = pd.Series(data2)

In [207]:
s2

carros    [Gol, Celta, Polo, Corolla, HB-20]
dtype: object

In [210]:
s2 = pd.Series(data2, index2)

In [211]:
s2

carros    [Gol, Celta, Polo, Corolla, HB-20]
dtype: object

In [212]:
for each in s2:
  print(each)

['Gol', 'Celta', 'Polo', 'Corolla', 'HB-20']

In [213]:
s2[0][0]

'Gol'

In [214]:
s2[0][1]

'Celta'

### Criando uma Serie via ndarray (array numpy)

If data is an ndarray, index must be the same length as data. 

If no index is passed, one will be created having values [0, ..., len(data) - 1].

In [220]:
data3 = np.random.randn(5)
print(f'data: {type(data3)}')
print(data3)
print()

index3 = ["a", "b", "c", "d", "e"]
print(f'index: {type(index3)}')
print(index3)
print()

s3 = pd.Series(data3)
s3

data: <class 'numpy.ndarray'>
[-0.49107516 -0.87546265 -1.97552507  1.46112309 -0.0166258 ]

index: <class 'list'>
['a', 'b', 'c', 'd', 'e']

0   -0.491075
1   -0.875463
2   -1.975525
3    1.461123
4   -0.016626
dtype: float64

In [217]:
s3.index

RangeIndex(start=0, stop=5, step=1)

In [218]:
s3 = pd.Series(data3, index3)
s3

a   -1.007388
b    0.236171
c   -0.902710
d    0.357387
e   -0.057569
dtype: float64

In [219]:
s3.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### Criando uma Serie via valor escalar

If data is a scalar value, an index must be provided. 

The value will be repeated to match the length of index.

In [221]:
data4 = 5
index4 = ["a", "b", "c", "d", "e"]
s4 = pd.Series(data4, index4)
s4

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [222]:
s4['a']

5

In [223]:
s4.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

# Dataframes

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

### From dict of ndarrays / lists

The ndarrays must all be the same length. If an index is passed, it must also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [224]:
d1 = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
d1

{'one': [1.0, 2.0, 3.0, 4.0], 'two': [4.0, 3.0, 2.0, 1.0]}

In [225]:
for k,v in d1.items():
  print(f'k:{k}, v:{v}')

k:one,v:[1.0, 2.0, 3.0, 4.0]
k:two,v:[4.0, 3.0, 2.0, 1.0]

In [226]:
df1 = pd.DataFrame(d1)
df1

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [227]:
df1['one']

0    1.0
1    2.0
2    3.0
3    4.0
Name: one, dtype: float64

In [228]:
df1['two']

0    4.0
1    3.0
2    2.0
3    1.0
Name: two, dtype: float64

In [229]:
df1['two'][3]

1.0

In [230]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [231]:
df1.columns

Index(['one', 'two'], dtype='object')

Alterando os índices de um dataframe

In [232]:
df2 = pd.DataFrame(d1, index=["linha1", "linha2", "linha3", "linha4"])
df2

        one  two
linha1  1.0  4.0
linha2  2.0  3.0
linha3  3.0  2.0
linha4  4.0  1.0

In [234]:
df2['one']

linha1    1.0
linha2    2.0
linha3    3.0
linha4    4.0
Name: one, dtype: float64

In [235]:
df2['two']

linha1    4.0
linha2    3.0
linha3    2.0
linha4    1.0
Name: two, dtype: float64

In [236]:
df2['two']['linha2']

3.0

Alterando os "rótulos" das colunas de um dataframe

In [238]:
df2.columns = ['coluna1', 'coluna2']

Alterando os índices de um dataframe

In [188]:
df2.index = ['l1', 'l2', 'l3', 'l4']

In [239]:
df2

        coluna1  coluna2
linha1      1.0      4.0
linha2      2.0      3.0
linha3      3.0      2.0
linha4      4.0      1.0

In [240]:
df2.index = range(4)
df2

   coluna1  coluna2
0      1.0      4.0
1      2.0      3.0
2      3.0      2.0
3      4.0      1.0

### From dict of Series or dicts

The resulting index will be the union of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

In [241]:
d2 = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

d2

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [242]:
for k, v in d2.items():
  print(f'k: {k}, v: {v}')

k: one, v: a    1.0
b    2.0
c    3.0
dtype: float64
k: two, v: a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [243]:
df3 = pd.DataFrame(d2)
df3

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [244]:
df3['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [245]:
df3['two']

a    1.0
b    2.0
c    3.0
d    4.0
Name: two, dtype: float64

In [246]:
df3.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [247]:
for each in df3.index:
  print(each)

a
b
c
d

In [248]:
df3.columns

Index(['one', 'two'], dtype='object')

In [249]:
for each in df3.columns:
  print(each)

one
two

### From a list of dicts

In [250]:
data5 = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [251]:
data5

[{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [252]:
for each in data5:
  print(each)

{'a': 1, 'b': 2}
{'a': 5, 'b': 10, 'c': 20}

In [254]:
df4 = pd.DataFrame(data5, index=["first", "second"])
df4

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [255]:
df4['a']

first     1
second    5
Name: a, dtype: int64

In [256]:
df4['b']

first      2
second    10
Name: b, dtype: int64

In [257]:
df4['c']

first      NaN
second    20.0
Name: c, dtype: float64

In [258]:
df4['c']['first']

nan

### From a Series

In [259]:
my_s = pd.Series(range(3), index=['a', 'b', 'c'], name="my_serie")
my_s

a    0
b    1
c    2
Name: my_serie, dtype: int64

In [260]:
df5 = pd.DataFrame(my_s)
df5

   my_serie
a         0
b         1
c         2

In [261]:
my_s2 = pd.Series(data=['a', 'b', 'c'])
my_s2

0    a
1    b
2    c
dtype: object

In [262]:
df6 = pd.DataFrame(my_s2, columns=['letra'])
df6

  letra
0     a
1     b
2     c

In [263]:
df6['letra']

0    a
1    b
2    c
Name: letra, dtype: object